$def with(productos)
<div class="container mt-4">
    <form class="d-flex flex-wrap justify-content-between align-items-center pb-4" method="POST" action="">
        <div class="input-group w-50 mb-3">
            <span class="input-group-text" id="search-icon">
                <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </span>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Buscar un producto" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Existencias</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            $for campo in productos:
            <tr>
                <td class="font-weight-bold">$campo['nombre']</td>
                <td>$campo['descripción']</td>
                <td>$campo['precio']</td>
                <td>$campo['existencias']</td>
                <td>
                    <a href="/detalle/$campo['id_productos']" class="btn btn-outline-success me-2">Detalles</a>
                    <a href="/actualizar/$campo['id_productos']" class="btn btn-outline-primary me-2">Actualizar</a>
                    <a href="/borrar/$campo['id_productos']" class="btn btn-outline-danger">Borrar</a>
                </td>
            </tr>
            $end
        </tbody>
    </table>
</div>
