$def with(productos)
<div class="container mt-4">
    <form class="d-flex flex-wrap justify-content-between align-items-center pb-4" method="POST" action="">
        <div class="input-group mb-3">
            <span class="input-group-text" id="search-icon">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.742 10.344a7.5 7.5 0 1 0-1.397 1.398h0a7.5 7.5 0 0 0 1.397-1.398z"/>
                    <path d="M11.742 10.344l3.85 3.85a1 1 0 0 1-1.415 1.415l-3.85-3.85a7.5 7.5 0 1 1 1.415-1.415z"/>
                </svg>
            </span>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Buscar un producto" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Existencias</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            $for campo in productos:
            <tr>
                <td class="font-weight-bold">$campo['nombre']</td>
                <td>$campo['descripción']</td>
                <td>$campo['precio']</td>
                <td>$campo['existencias']</td>
                <td>
                    <a href="/detalle/$campo['id_productos']" class="btn btn-success me-2">Detalles</a>
                    <a href="/actualizar/$campo['id_productos']" class="btn btn-primary me-2">Actualizar</a>
                    <a href="/borrar/$campo['id_productos']" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

